<div align="center"><h1>Alonso and Kyna's Awesome Project</h1>
</br>
<h2><i>“It does not do to leave a live dragon out of your calculations, if you live near him.” </i></h23>
</br></div align="center">
<div align="right"><b>J.R.R. Tolkien</b></div align="right">
</br></br></br>
<div align="center"><p>Greetings! This is our project for CS 21b. We hope it aids you in scheduiling your tasks!</p></div align="center">
</br></br></br></br></br></br>
<%= link_to 'Create a task', new_task_path %>
<footer><p>De Leon - Sy 2014</p></footer>
